<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
 <body>
  
  <section class="features_table">
        <div class="container ">
        	<div class="col-sm-8 col-8 col-xs-12 no-padding">
            	<div class="features-table">
                	<ul>
                    	<h1>Features</h1>
                    	<li>Use individual PNGs (or JSON spritesheets) from any source to animate </li>
                        <li>Animate with bones or by controlling images directly</li>
                        <li>Adjust pivot points for each image</li>
                        <li>Scale and rotate any object per frame</li>
                        <li>Set the opacity of any object per frame</li>
                        <li>Basic easing features</li>
                        <li>Advanced easing curve options</li>
                        <li>Create multiple “entities” (animation sets) per file</li>
                        <li>Onion skinning to see previous and up-coming key-frames</li>
                        <li>Basic IK (inverse kinematics) support</li>
                        <li>Full IK support and IK locking (forward kinematics) </li>
                        <li>Use animations within animations to make complex scenes easily</li>
                        <li>Advanced automated control features for animations within animations</li>
                        <li>Create character variations by swapping image sets (Character maps)</li>
                        <li>Trigger and preview sound effects at any point in the timeline</li>
                        <li>Lip-sync via Papagayo</li>
                        <li> Export animations as PNG images, strips, sheets or Gif Animations </li>
                        <li>Add custom watermarks while exporting images or Gifs</li>
                        <li>Automatically import sequential images as animated sprites</li>
                        <li>Create named collision rectangles per frame</li>
                        <li>Automatically import sequential images as animated sprites</li>
                        <li> Create named action points per frame and set their angle </li>
                        <li>Create horizontal and vertical guidelines on the canvas</li>
                        <li>Lock or hide individual objects to protect or hide things as you work</li>
                        <li>Set “animated” variables for your character anywhere in the timeline</li>
                        <li>Create “Triggers” anywhere in the timeline to initiate actions in-game</li>
                        <li>Set “Tags” to any part of the timeline to designate “state changes”</li>
                        <li>Merge separate Spriter projects into one (Great for teams making games)</li>
                        <li>Auto update detection</li>
                        <li>Auto save feature</li>
                        <li>Deformable sprites (image warping)   COMING SOON</li>
                        <li>Over 260 Free Spriter Animations (for use in your games royalty free)</li>
                        
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-2 col-xs-12 no-padding">
            <div class="features-table-free">
                	<ul>
                    	<h1>Free</h1>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-times"></i></li>
                        <li><i class="fa fa-times"></i></li>
                     
                    </ul>
                </div>
            
            </div>
             <div class="col-sm-2 col-2 col-xs-12 no-padding">
             	 <div class="features-table-paid">
                	<ul>
                    	<h1>Pro</h1>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        
                        
                        
                        
                    </ul>
                </div>
             </div>
        </div>
    
    </section>
    </body>   
</html>  